.row {
display: flex;
justify-content: row;
flex-wrap: wrap;
margin: 10px
}

.row img {
    width: 59%;
    margin: 0.5%
}

@media (min-width: 566px) {.row img {width: 59%}

@media (min-width: 991px) {.row img {width: 32%}

